<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}
{% load compile_static %}
{% load static %}

<script type="text/javascript" src="{% static 'static_jquery/js/jquery.js' %}"></script>

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<link rel="stylesheet" href="{% static 'sass/application.scss'|compile %}"/>

<title>{% block title %}NPMT{% endblock %}</title>
</head>

<body class="network-editor">
{% include "network_editor/header.html" %}

{% block header %}
{% endblock %}

<div class="container-fluid">
{% block content %}{% endblock %}
</div>

</body>
</html>
