{% extends "network_editor/base.html" %}



{% block title %}Network Editor{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-3" id="sidebar">
            {% block sidebar %}
                <div class="nodes-container">
                    <div>
                        <p class="list-title inline-block">Nodes</p>
                        <button type="button" class="btn btn-xs btn-default active" id="add-node">Add Node</button>
                    </div>
                    <ul class="list-group node-list">

                    </ul>
                </div>
                <div class="edges-container">
                    <div>
                        <p class="list-title inline-block">Edges</p>
                        <button type="button" class="btn btn-xs btn-default" id="add-edge">Add Edge</button>
                    </div>
                    <ul class="list-group edge-list">

                    </ul>
                </div>
            {% endblock %}
        </div>

        <div class="col-sm-9" id="content">
            <div class="col-sm-7">
                <label for="name">Name:</label> <input class='network-name' type="text" value=""
                                                       placeholder="Enter network name">
                <label for="name">description:</label> <input class='network-description' type="text" value=""
                                                              placeholder="Enter short description">

            </div>

            <div class="col-sm-3">
                <form id="network-form" action='#' class="inline-block" data-id="{{ network_id }}"
                      data-save-url="{% url 'network_editor:save' %}"
                      data-update-url="{% url 'network_editor:update' %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-sm btn-success" value="Save"/>
                </form>

                <button type="button" id="load-networks" class="btn btn-primary btn-sm" data-toggle="modal"
                        data-target="#load-network-modal">
                    Load
                </button>

            </div>

            <div class="col-sm-12 well well-lg map-container" id="map">

            </div>


        </div>
    </div>

    <script type="text/javascript">

        window.network_editor = window.network_editor ? window.network_editor : {};
        window.network_editor.mode = '{{ mode }}';
        window.network_editor.network = '{{ network }}';
        window.network_editor.edges = '{{ edges }}';
        window.network_editor.nodes = '{{ nodes }}';
    </script>
    <!-- Modal -->
    {% include 'network_editor/network_modal.html' %}
    {% block network_modal %}{% endblock %}


{% endblock %}
