{% extends "network_editor/base.html" %}



{% block title %}Network Editor{% endblock %}

{% block content %}
        <div class="row">
        <div class="col-sm-3" id="sidebar">
            {% block sidebar %}
                <div class="nodes-container">
                    <div>
                        <p class="list-title inline-block">Nodes</p>
                        <button type="button" class="btn btn-xs btn-default active" id="add-node">Add Node</button>
                    </div>
                    <ul class="list-group node-list">

                    </ul>
                </div>
                <div class="edges-container">
                    <div>
                        <p class="list-title inline-block">Edges</p>
                        <button type="button" class="btn btn-xs btn-default" id="add-edge">Add Edge</button>
                    </div>
                    <ul class="list-group edge-list">

                    </ul>
                </div>
            {% endblock %}
        </div>

        <div class="col-sm-9" id="content">

            <div class="well well-lg map-container" id="map">

            </div>
        </div>
    </div>
{% endblock %}
