.navbar-brand {
  padding: 5px 25px;
  img {
    height: 40px;
    width: 40px;
  }
}

.navbar, .navbar-default {
  background-color: black;
  border-color: black;
  color: white;
  margin-bottom: 0;
  .navbar-nav {
    li {
      a {
        color: white;
      }
      &.active a {
        background-color: #1c4048;
        color: white;
      }
    }
  }
}
