<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% load compile_static %}
    {% load static %}


    {% load bootstrap3 %}
    {% bootstrap_css %}

    <link rel="stylesheet" href="{% static 'network_editor/leaflet/leaflet.css' %}"/>
    <link rel="stylesheet" href="{% static 'network_editor/sass/application.scss'|compile %}"/>
    <link rel="stylesheet" href="{% static 'fault_analyzer/sass/application.scss'|compile %}"/>

    <title>{% block title %}NPMT{% endblock %}</title>
</head>

<body class="fault-analyzer">

{% include "network_editor/header.html" %}

{% block header %}
{% endblock %}

<div class="container-fluid base-container">
    {% block content %}{% endblock %}
</div>

<script type="text/javascript" src="{% static 'static_jquery/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'network_editor/javascripts/lib/js.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'network_editor/javascripts/lib/mustache.js' %}"></script>
<script type="text/javascript" src="{% static 'network_editor/javascripts/mustache-templates.js' %}"></script>
<script type="text/javascript" src="{% static 'fault_analyzer/javascripts/mustache-templates.js' %}"></script>
{% bootstrap_javascript %}
<script type="text/javascript" src="{% static 'network_editor/leaflet/leaflet.js' %}"></script>
<script type="text/javascript" src="{% static 'network_editor/leaflet/mercatorConverter.js' %}"></script>
<script type="text/javascript" src="{% static 'network_editor/leaflet/leafletembed.js' %}"></script>
<script type="text/javascript" src="{% static 'network_editor/javascripts/util.js' %}"></script>
<script type="text/javascript" src="{% static 'fault_analyzer/javascripts/fault-analyzer.js' %}"></script>
<script type="text/javascript" src="{% static 'fault_analyzer/javascripts/view-editor.js' %}"></script>
<script type="text/javascript" src="{% static 'fault_analyzer/javascripts/network-loader.js' %}"></script>
<script type="text/javascript" src="{% static 'fault_analyzer/javascripts/application.js' %}"></script>
</body>
</html>
