{% extends "fault_analyzer/base.html" %}

{% block title %}Fault Analyzer{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-3 col-xs-4" id="sidebar">
            {% block sidebar %}
                <div>
                    <h4>Fault Editor</h4>
                    <div class="panel-group" id="fault-accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingGenericFaults">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#fault-accordion"
                                       href="#generic-faults-collapse"
                                       aria-expanded="false" aria-controls="generic-faults-collapse">
                                        Generic Faults
                                        <span class="pull-right glyphicon glyphicon-chevron-down"
                                              aria-hidden="true"></span>
                                    </a>
                                </h4>
                            </div>
                            <div id="generic-faults-collapse" class="fault-collapse panel-collapse collapse out"
                                 role="tabpanel"
                                 aria-labelledby="headingGenericFaults">
                                <div class="panel-body">
                                    <div class="row row-space">
                                        <form id="analyze-form" action='#' data-url="{% url 'fault_analyzer:analyze' %}"
                                              class="inline-block" data-id="{{ network_id }}" method="post">
                                            {% csrf_token %}
                                            <div class="col-sm-12 row-space">
                                                <div class="input-group fault-radius-container">
                                                    <span class="input-group-addon">Radius</span>
                                                    <input type="text" class="form-control fault-radius" value="400"
                                                           aria-label="fault radius">
                                                    <span class="input-group-addon">km</span>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 text-center">
                                                <button id="analyze-network" type="submit"
                                                        class="btn btn-primary">Analyze Network
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="panel panel-default">
                                                <!-- Default panel contents -->
                                                <div class="panel-heading"><h5 class="no-margin">Fault analysis</h5>
                                                </div>
                                                <div class="panel-body">
                                                    RBCDN Faults:
                                                </div>

                                                <div class="fault-table-container">
                                                    <table class="table fault-table">
                                                        <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Latitude</th>
                                                            <th>Longitude</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </div>

                                                <div class="well well-sm">
                                                    <ul class="list-group fault-details-list">
                                                        <li class="list-group-item">
                                                            <span class="badge composition_deposition_number"></span>
                                                            Composition deposition number:
                                                        </li>
                                                        <li class="list-group-item">
                                                            <span class="badge largest_component_size"></span>
                                                            Largest Component Size:
                                                        </li>
                                                        <li class="list-group-item">
                                                            <span class="badge smallest_component_size"></span>
                                                            Smallest Component Size:
                                                        </li>
                                                        <li class="list-group-item">
                                                            <span class="badge fault_regions_considered"></span>
                                                            Fault Regions Considered:
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingSpecifiedFaults">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#fault-accordion"
                                       href="#specified-faults-collapse"
                                       aria-expanded="false" aria-controls="specified-faults-collapse">
                                        Specified Faults
                                        <span class="pull-right glyphicon glyphicon-chevron-down"
                                              aria-hidden="true"></span>
                                    </a>
                                </h4>
                            </div>
                            <div id="specified-faults-collapse" class="fault-collapse panel-collapse collapse out"
                                 role="tabpanel"
                                 aria-labelledby="headingSpecifiedFaults">
                                <div class="panel-body">
                                    <div class="row-space clearfix" id="fault-table-accordion">
                                        <h5>1. Define Fault Coordinates:
                                            <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                                  data-placement="right"
                                                  title="Click on the map to define fault coordinates."
                                                  aria-hidden="true"></span>
                                        </h5>
                                        <div class="fault-table-container row-space">
                                            <table id="specified-faults-table" class="table fault-table">
                                                <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Latitude</th>
                                                    <th>Longitude</th>
                                                    <th>
                                                        <button class="btn btn-xs btn-default" data-toggle="collapse"
                                                                data-parent="#fault-table-accordion"
                                                                href="#fault-table-collapse" disabled>Show
                                                        </button>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody class="collapse in" aria-labelledby="headingFaultTable"
                                                       id="fault-table-collapse">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row-space clearfix">
                                        <h5>2. Generate Fault Region
                                            <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                                  data-placement="right"
                                                  title="Add at least 3 faults on the map to generate a fault region."
                                                  aria-hidden="true"></span>
                                        </h5>
                                        <div class="col-sm-12 text-center">
                                            <form id="generate-fault-region-form" action='#' class="inline-block"
                                                  data-url="{% url 'fault_analyzer:fault_region' %}" method="post">
                                                {% csrf_token %}
                                                <button id="generate-fault-region" type="submit"
                                                        class="btn btn-primary">Genarate Fault Region
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <h5>3. Analyze Fault Network
                                            <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                                  data-placement="right"
                                                  title="Add at least 3 faults on the map to generate a fault region."
                                                  aria-hidden="true"></span>
                                        </h5>
                                        <div class="col-sm-12 text-center row-space">
                                            <form id="analyze-fault-network-form" action='#' class="inline-block"
                                                  data-url="{% url 'fault_analyzer:analyze_fault_network' %}"
                                                  method="post">
                                                {% csrf_token %}
                                                <button role="button"
                                                        class="btn btn-primary"
                                                        type="submit">
                                                    Analyze Network Faults
                                                </button>
                                            </form>

                                        </div>
                                        <div class="well well-sm col-sm-12">
                                            <ul class="list-group specified-fault-details-list">
                                                <li class="list-group-item">
                                                    <span class="badge number_of_surviving_nodes"></span>
                                                    Number of Surviving Nodes:
                                                </li>
                                                <li class="list-group-item">
                                                    <span class="badge number_of_surviving_links"></span>
                                                    Number of Surviving Links:
                                                </li>
                                                <li class="list-group-item">
                                                    <span class="badge number_of_connected_components"></span>
                                                    Number of Connected Components:
                                                </li>
                                                <li class="list-group-item">
                                                    <span class="badge largest_connected_component_size"></span>
                                                    Largest Connected Component Size:
                                                </li>
                                                <li class="list-group-item">
                                                    <span class="badge smallest_connected_component_size"></span>
                                                    Smallest Connected Component Size:
                                                </li>
                                            </ul>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>

        <div class="col-sm-9 col-xs-8" id="content">
            <div class="col-sm-7">
                <div class="col-sm-5">
                    <label for="name">Name:</label>
                    <p class='network-name inline-block' type="text"
                       placeholder="Enter network name"></p>
                </div>
                <div class="col-sm-6">

                    <label for="name">description:</label>
                    <p class='network-description inline-block' type="text" value=""
                       placeholder="Enter short description"></p>
                </div>

            </div>

            <div class="col-sm-3">
                <button type="button" id="load-networks" class="btn btn-primary btn-sm" data-toggle="modal"
                        data-target="#load-network-modal">
                    Change Network
                </button>

            </div>

            <div class="col-sm-12 well well-lg map-container" id="map">

            </div>


        </div>
    </div>

    <script type="text/javascript">

        window.network_editor = window.network_editor ? window.network_editor : {};
        window.network_editor.mode = '{{ mode }}';
        window.network_editor.network = '{{ network }}';
        window.network_editor.network_id = '{{ network_id }}';
        window.network_editor.edges = '{{ edges }}';
        window.network_editor.nodes = '{{ nodes }}';
    </script>
    <!-- Modal -->
    {% include 'fault_analyzer/network_modal.html' %}
    {% block network_modal %}{% endblock %}


{% endblock %}
