{% extends "fault_analyzer/base.html" %}

{% block title %}Fault Analyzer{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-3" id="sidebar">
            {% block sidebar %}
                <div>
                    <h4>Fault Editor</h4>
                    <div class="panel-group" id="fault-accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#generic-faults-collapse"
                                       aria-expanded="false" aria-controls="generic-faults-collapse">
                                        Generic Faults
                                        <span class="pull-right glyphicon glyphicon-chevron-down"
                                              aria-hidden="true"></span>
                                    </a>
                                </h4>
                            </div>
                            <div id="generic-faults-collapse" class="panel-collapse collapse out" role="tabpanel"
                                 aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <div class="row row-space">
                                        <div class="col-sm-12">
                                            <div class="input-group fault-radius-container">
                                                <span class="input-group-addon">Radius</span>
                                                <input type="text" class="form-control fault-radius" value="400"
                                                       aria-label="fault radius">
                                                <span class="input-group-addon">km</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-space">
                                        <div class="col-sm-12 text-center">
                                            <button class="btn btn-primary">Analyze Network</button>
                                        </div>
                                    </div>
                                    <div class="row row-space">
                                        <div class="col-sm-12">
                                            <div class="panel panel-default">
                                                <!-- Default panel contents -->
                                                <div class="panel-heading"><h5 class="no-margin">Fault analysis</h5>
                                                </div>
                                                <div class="panel-body">
                                                    RBCDN Faults:
                                                </div>

                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Latitude</th>
                                                        <th>Longitude</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <th scope="row">1</th>
                                                        <td><span class="text-overflow">1.00000</span></td>
                                                        <td><span class="text-overflow">3.00000</span></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">2</th>
                                                        <td><span class="text-overflow">2.00000</span></td>
                                                        <td><span class="text-overflow">4.00000</span></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <div class="well well-sm">
                                                    <ul class="list-group">
                                                        <li class="list-group-item">
                                                            <span class="badge">2</span>
                                                            Composition deposition number:
                                                        </li>
                                                        <li class="list-group-item">
                                                            <span class="badge">1</span>
                                                            Largest Component Size:
                                                        </li>
                                                        <li class="list-group-item">
                                                            <span class="badge">3</span>
                                                            Smallest Component Size:
                                                        </li>
                                                        <li class="list-group-item">
                                                            <span class="badge">2</span>
                                                            Fault Regions Considered:
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>

        <div class="col-sm-9" id="content">
            <div class="col-sm-7">
                <label for="name">Name:</label> <input class='network-name' type="text" value=""
                                                       placeholder="Enter network name">
                <label for="name">description:</label> <input class='network-description' type="text" value=""
                                                              placeholder="Enter short description">

            </div>

            <div class="col-sm-3">
                <button type="button" id="load-networks" class="btn btn-primary btn-sm" data-toggle="modal"
                        data-target="#load-network-modal">
                    Change Network
                </button>

            </div>

            <div class="col-sm-12 well well-lg map-container" id="map">

            </div>


        </div>
    </div>

    <script type="text/javascript">

        window.network_editor = window.network_editor ? window.network_editor : {};
        window.network_editor.network = '{{ network }}';
        window.network_editor.edges = '{{ edges }}';
        window.network_editor.nodes = '{{ edges }}';
    </script>
    <!-- Modal -->
    {% include 'fault_analyzer/network_modal.html' %}
    {% block network_modal %}{% endblock %}


{% endblock %}
