@import "header";
@import "content";

body {

  .base-container {
    background-color: rgb(203, 212, 255);
  }
  .truncate {
    width: 80px;
    height:15px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .inline-block {
    display: inline-block;
  }
}