.network-editor {
  #content {
    .map-container {
      height: 500px;
    }
  }

  .node-list {
    .node-list-item {
      position: relative;
      p {
        margin-bottom: 0;
      }
      .delete-node {
        position: absolute;
        right: 8px;
        top: 8px;
      }
    }
  }
  .edge-list {
    .edge-list-item {
      position: relative;
      .delete-edge {
        position: absolute;
        right: 8px;
        top: 8px;
      }
    }
  }

  #sidebar {
    .list-title {
      width: 100px;
      font-size:x-large;
    }
    #add-node, #add-edge {
      margin-bottom: 10px;
    }
  }

  .edge-list, .node-list {
    max-height: 180px;
    overflow: auto;
  }

}