.network-editor {
  #content {
    .map-container {
      height: 500px;
    }
  }

  .node-list{
    .node-list-item {
      position: relative;
      p {
        margin-bottom: 0;
      }
      .delete-node {
        position: absolute;
        right: 8px;
        top: 8px;
      }
    }
  }
}